<%= form_with(model: appserver, local: true) do |form| %>
  <% if appserver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appserver.errors.count, "error") %> prohibited this appserver from being saved:</h2>

      <ul>
      <% appserver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :appserver_name %>
  </div>

  <div class="field">
    <%= form.label :server_id %>
    <%= form.text_field :server_id, id: :appserver_server_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
